page-limitscore {
     margin:auto; 
     display:block;
}

.login2 {
    background: url(../Picture/bb.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 2;
    position: relative;
}

.center
{
    margin: left;
    width: 50%;
    padding: 10px;
}

