p.icon{
    font-size: 20px;
}

.player-time {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    color: 	#FF0000;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    color: 	#A0522D;
    margin-top: 50px;
    margin-bottom: 80px;
}