page-setting {
    margin:auto; 
    display:block;
}

.login1 {
    background: url(../Picture/d.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: auto;
    
    position: relative;
}